@import "tailwindcss";

:root {
  --background: #D2D2FB;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-brand: var(--font-soft-serve);
  --font-body: var(--font-poppins);
  --color-brand-purple: #8D61C6;
  --color-brand-yellow: #FFFBEB;
  --animate-slow-spin: spin 20s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D2D2FB;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}